footer {

  /* background: #ffab62;
  border: 2px solid red; */
  bottom: 0;
  height: 100px;
  left: 0;
  position: fixed;
  width: 100%;
}

.recommended_Card {
  background-color: yellow;
  margin-bottom: 20px;
}

.recommended {
  background-color: green;
  display: grid;
  grid-template-columns: auto auto;
  height: 100px;
  overflow-y: scroll;
}

.start_recipe {

  /* bottom: 0;
  height: 100px;
  left: 0; */
  bottom: 0;
  position: fixed;
  width: 100%;
}
